<template>
  <div>
    <h1>Coming Soon...</h1>
    <BottomNav />
  </div>
</template>

<script>
import BottomNav from "../components/BottomNav";
export default {
  components: {
    BottomNav
  }
};
</script>

<style>
</style>