<template>
  <v-app>
    <!--- <Login /> -->
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
//import Login from "./views/Login";
export default {
  name: "App",
  components: {
    //Login
  },
  data() {
    return {};
  },
  methods: {},
  metaInfo: {
    meta: [
      { charset: "utf-8" },
      { name: "description", content: "gator" },
      { name: "viewport", content: "width=device-width, user-scalable=no" }
    ]
  }
};
</script>

<style>
@font-face {
  font-family: "Caviar-Dreams";
  src: url("./assets/fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.woff")
      format("woff"),
    url("./assets/fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.svg#Caviar-Dreams")
      format("svg"),
    url("./assets/fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.eot"),
    url("./assets/fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

#app {
  flex: 1;
  font-family: "Caviar-Dreams";
}
</style>